.pat{
    display: flex;
    flex-direction: column;

}

.container {
    background-color: white; 
    padding: 20px; 
    border-radius: 5px; 
  }
  
  .checkboxContainer {
    margin-top: 15px; 
  }
  
  .checkboxContainer label {
    display: block; /* Espace entre chaque checkbox */
  }